.megasubmenu{ padding: 30px; }

	@media (min-width: 992px){

		.dropdown-menu .dropdown-toggle:after{
			border-top: .3em solid transparent;
		    border-right: 0;
		    border-bottom: .3em solid transparent;
		    border-left: .3em solid;
		}
		.dropdown-menu{	
			margin:0; 
		}
		.megasubmenu{ 
			right: 40%; top:100%; min-height: 100%; min-width:600px;
			border-style: ridge;
		}

		.megasubmenu > a {
			padding: 15px;
		}

	}
.title {
  	color: #106eea;
	font-family: arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 1px;
}

.headerText{
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 1px;
}
.headerTextStyle{
	list-style-type: hebrew;
}

.title {
	text-transform: uppercase;
}

.toCenter {
	text-align:center;
}

.middle {
	margin: auto;
	width: 50%;
	padding: 10px;
}